*             
img {
    width: 75px;
    border-radius: 50px;
    align-items: center;
   
}

h4 {
    font-family: "Prompt", sans;
}

h4:hover {
   color:rgb(158, 255, 250);
}

h1 {
    font-family: "Quicksand", sans;
    color: rgb(255, 4, 100);
    animation-name: apple;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

    @keyframes apple {
    0% {color: cyan;}
    25% {color: rgb(43, 253, 190);}
    50% {color: rgb(35, 245, 115);}
    100% {color: rgb(255, 4, 100);}
}



p {
    font-family: "Prompt", sans;
    size: 100px;
}

body {
    background-color: lightcyan;
    background-image:url(images/bg.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
}
}

h3 {
    font-family: "Yuji Hentaigana Akari", sans;
    color: rgb(16, 49, 46);
    width:70px;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {left:0px; top:0px;}
    50%  {left:0px; top:5px;}
    100% {left:0px; top:0px;}
    
}
